.porselen-grup {
	background: #fdfdfd;
}

.porselen-grup img {
	display:inline-block;
	margin-right:20px;
}

.porselen-grup ul {
    margin-left: -44px;
}
.porselen-grup ul li {
	float: left;
    display: block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 2px solid #e03805;
    color: #ff6360;
    font-weight: bold;
    font-size: 13px;
}

.clearfix:after {
	display:block;
	height:0;
	visibility:hidden;
	content:"";
	clear:both;
}
.porselen-grup span{
	display:block;
	text-align:center;
	font-weight: bold;
    font-size: 20px;
    margin-top: 17px;
}
.por-prev{
	border-bottom: 3px solid #ffffff;
    padding-bottom: 15px;
    box-shadow: -6px 4px 16px #efefef;
}

.editor-item {

}

.tas {
	width:500px;
	height:500px;
	position:relative;
	margin:0 auto;
}

.siyah_granit {
	background-repeat:repeat;
	background:url('../../images/granit_texture.png');
}
.beyaz_mermer {
	background-repeat:repeat;
	background:url('../../images/mermer_texture.png');
}

.editor-item-list{

}

.editor-item:hover {
	background:#d3d3d3;
}

.editor-item {
    width: 70px;
    height: 90px;
    padding: 5px;
    border: 2px solid #ff6360;
    margin:5px;
    float:left;
    cursor:pointer;
}

.added-item {
	width: 70px;
    height: 90px;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
}

.editor-item i{
	display:none;
}


.editor-item img,
.added-item img {
	width:100%;
	margin:0 auto;
	vertical-align:middle;
}
#uploaded,
#por_uploaded{
	width:100%;
	cursor:move;
	opacity:0.5;
}

#porselen_editor_modal {
	    overflow-y: scroll;
}

.porselen-crop-container{
	overflow:hidden;
	display:inline-block;
	border:1px solid #000;

}
.kesim-mod {
	overflow:unset !important;
}

.porselen-crop-container.oval {
	width:240px;
	height:327px;
	border-radius:100%;
	background:red;
}
.tas .porselen-crop-container {
	border:2px solid #d3d3d3;
}
.porselen-crop-container.oval-porselen-rotate {
	width:327px;
	height:240px;
	border-radius:100%;
	background:red;
}

.porselen-crop-container.kare {
	width:327px;
	height:327px;
	background:red;
}

.porselen-crop-container.daire {
	width:327px;
	height:327px;
	border-radius:100%;
	background:red;
}

.porselen-crop-container.dikdortgen {
	width:250px;
	height:327px;
	background:red;
}
.porselen-crop-container.dikdortgen-porselen-rotate {
	height:250px;
	width:327px;
	background:red;
}


.porselen-crop-container.kubbe {
	width:240px;
	height:327px;
	background:red;
    border-radius: 50% 50% 0 0;
}
.porselen-crop-container.kubbe.porselen-rotate_r {
	height:240px !important;
	width:327px !important;
	border-radius: 0 50% 50% 0 !important;
}
.porselen-crop-container.kubbe.porselen-rotate_l {
	height:240px !important;
	width:327px !important;
	border-radius: 50% 0 0 50% !important;
}
.porselen-crop-container.kubbe.porselen-rotate_t {
	height:240px !important;
	width:327px !important;
	border-radius: 0 0 50% 50% !important;
}


.porselen-draggable {
	position:relative;
	z-index:999;
}

.porselen-crop-grup{
	/*width:220px;*/
	text-align:center;
	margin-left:0 !important;
	margin-right:0 !important;
	background: #d3d3d3;
    padding: 20px;
    box-shadow: inset 2px 3px 7px #b1b1b1,
    			inset -2px -3px 7px #b1b1b1;
}
.porselen-editor-ayarlar{
	text-align:center;
	margin: 0 0 20px 0;
}
.porselen-gruplar {
	text-align:center;
	margin:-15px 0;
}

#cropper_form {
	margin-bottom:15px;
}

#cropper_img{
	max-width: 100%;
}
#editor_frame {
	width:100%;
	height:835px;
	border:none;
}

.yt-tutorial {
	margin-top:85px;
	height:275px;
}
.porselen-klavuz{
	margin-top:10px;
}
.porselen-klavuz li {
	padding:3px 0;
}

.porselen-klavuz button {
	cursor:default !important;
}

.nav-siparisler{
   	background: #ffdddd;
}

#siparisler_list {
	list-style:none;
	padding:10px;
}
#siparisler_list li{
	float:left;
	margin:5px;
    width: 110px;
    padding: 5px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    min-height: 230px;
}

#siparisler_list li img {
	width:100%;
}
#siparisler_list span {
	display:block;
	margin-top: 5px;
	font-size:11px;
	text-align:center;
}
#siparisler_list .siparis-top {
	min-height:135px;
}
#siparisler_list .siparisler-nav {
	text-align:center;
}
#siparisler_list .siparisler-nav i {
	cursor:pointer;
}
#siparisler_list .siparisler-nav i:hover{
	color:#ff0000;
}
.sip-form {
	display:none;
	margin-top:5px;
}
.sip-form input, .sip-form select{
	font-size: 10px !important;
    padding: 2px !important;
    height: 25px !important;
}
.sip-form label {
	font-size:10px !important;
}
.bassip .sip-duzenle {
	display:none;
}

.secim-modal img {
	width:100%;
}
.secim-modal .prev-part{
	width:50px;
    margin: 0 auto;
	padding:5px 0;
}
.secim-modal .title-part{
    text-align: center;
    background: #f5f5f5;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 0;
}
.secim-modal .nav-part {
	text-align:center;
	padding:5px 0;
}
.secim-modal .form-part {
	
}
.secim-modal .form-part .form-control {
    height: 23px !important;
    padding: 3px 11px !important;
    font-size: 12px !important;
}
.secim-modal .porselen-secim-item{
	border:1px solid #f7f7f7;
	margin-bottom:5px;
	    min-height: 160px;
}

.porselen-template,
.yazi_template,
.sekil_template {
	position: absolute;
    left: 0;
    top: 0;
   
}

.porselen-template.oval-seri-item{
	
}
.porselen-template.oval-seri-item img,
.porselen-template.dikdortgen-seri-item img,
.porselen-template.kubbe-seri-item img,
.porselen-template.kare-seri-item img,
.porselen-template.daire-seri-item img,
.porselen-template.kalp-seri-item img {
	width:100%;
 	cursor:move;
}

.porselen-gruplar .input-group {
	display:inline-block;
	width:100px;
}
.porselen-gruplar .input-group-addon {
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.tas i[action="sil"]{
	color:red;
}
.tas i[action="cevir"],
.tas i[action="yazi_duzenle"],
.tas i[action="duzenle"]{
	color:#8c8cff;
}

.tas i[action="resim_ekle"]{
	color:#ffaa2b;
}

.tas i[ebat-bool="1"]{
	color:#8c8cff;
}
.tas i[ebat-bool="0"]{
	color:red;
}

.rotated {
	transform: rotate(90deg);
}

.tas i{
	display:none;
}
.tas i {
	display:inline-block;
	opacity:0.4;
	cursor:pointer;
}
.tas i:hover {
	opacity:1;
	
}

.porselen-id-info{
	display: block;
    width: 45px;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: 12px;
    cursor: move;
}
.engrave-id-info {
	display: block;
    width: 45px;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: -17px;
    cursor: move;
}
.siyah_granit .engrave-id-info {
	background:white;
}
.beyaz_mermer .engrave-id-info {
	background:black;
	color:white;
}
.engrave_template,
.yazi_template {
	cursor:move;
}
.engrave_template img {
	width:100%;
	cursor:move;
	border: 1px solid #737373;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.yazi_template img,
.sekil_template img {
	width:100%;
	cursor:move;
	border: 1px solid #3c3c3c;
}


/* AH EDITOR STILLER */
.ah-editor-form {

	border:1px solid #d2d2d2;

}

.ah-editor-form .preview-cont {
	border-bottom:1px solid #d2d2d2;
}

.ah-editor-form .preview-cont img {
	display:block;
	max-width:100%;
	margin:0 auto;
}

.preview-cont .preview-info {
	text-align:right;
	padding:5px 5px 5px 0;
	font-size:12px;
}

.ah-editor-form .form-cont {
	padding:5px;
}

.ah-editor-form input.editor-text {
	display:block;
	width:85%;
	margin:0 auto;
	text-align:center;
	padding:8px 0;
	border:1px solid #d2d2d2;
	box-shadow: inset 1px 1px 1px #d3d3d3;
	border-radius:2px;
}

.ah-editor-form .form-cont .input-grup {
	margin:0 auto;
}


@media (max-width:450px) {
	.ah-editor-form .input-grup  > div {
		width:auto !important;
	}
	.ah-editor-form .editor-font-label {
		float: none !important;
    	margin: 0 auto;
    	width:auto;
	}
}

.form-cont select {
	width:100%;
/*	border:1px solid #d2d2d2;*/
	padding:3px 0 3px 5px;
	margin-top:8px;
	border-radius:2px;
	font-size:13px;
}

.input-grup .control-notf {
	display:none;
	font-size:11px;
	color:red;
	padding-top:3px;
}

/* AH EDITOR FONT SELECT */

.font-select {
	height:30px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);
	border:1px solid #fff;
	width:100%;	
	position:relative;
	margin-top:8px;
}

.font-select a.font-selected{
	/*padding:5px;*/
	position:relative;
    top:2px;
	display:block;
	width:100%;
}

.font-select a.font-selected:after{
	position:absolute;
    right:0;
    top:0;
	width:10px;
	height:10px;
	display:block;
	content:"";
    background: url('../../images/20x20_icon_sprite.png');
    background-position: 95px -24px;
    float: right;
    margin: 5px 6px 0 0;
}

.font-select a.font-selected img {
	max-height:25px;
}

.font-select ul.open {
	display:block !important;
}

.font-select ul {
	display:none;
	position:absolute;
	top:34px;
	left:-1px;
	width:100%;
	max-height:300px;
	overflow-y:auto;
	border:1px solid #d2d2d2;
	/*border-top:none;*/
	background:white;
	list-style:none;
	padding:0;
	z-index:1000;
	box-shadow:-1px 3px 10px #d3d3d3,
				1px 3px 10px #d3d3d3;
}

.font-select ul li:hover {
	background:#fafafa;
}

.font-select ul li {
	cursor:pointer;
}

.font-select ul li.selected {
	background:#F2EDE3;
}

.font-select ul li img {
	display:block;
	padding:2px;
	max-height:25px;

}

.font-select label{
	width:50px;
	font-size:12px;
}

#finito_modal #modal_preview {
	width:300px !important;
}
#finito_modal #modal_preview canvas{
	width:100%;
}

#portable_porselen_editor_frame {
	width:100%;
	height:750px;
	border:none;
}
#baslik_editor_frame{
	width:100%;
	height:850px;
	border:none
}


.editor-ilan{
    padding: 10px;
}

.editor-ilan img{
	width:100%;
}

.redborder {
	border-color:red !important;
}